nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
  a.navbar-brand(href='#') Navbar
  button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
    span.navbar-toggler-icon
  #navbarSupportedContent.collapse.navbar-collapse
    ul.navbar-nav.ml-auto
      li.nav-item.active
        a.nav-link(href='#')
          | Home 
      li.nav-item
        a.nav-link(href='#') 
            i(class="fas fa-shopping-cart ml-2")
      li.nav-item.dropdown
        a#navbarDropdown.nav-link.dropdown-toggle.d-flex.align-items-center(href='#' data-toggle='dropdown')
          | Admin
          i(class="fas fa-user ml-2")
        .dropdown-menu(aria-labelledby='navbarDropdown')
          a.dropdown-item(href='#') Action
          a.dropdown-item(href='#') Another action
          .dropdown-divider
          a.dropdown-item(href='#') Something else here
