body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.navbar-brand{
    color: #17a2b8 !important;
    font-weight: bold;
    font-family: cursive;
    font-size: 1.5em;
}

.dropdown-menu{
  left: -100% !important
}