body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.navbar-brand{
    color: #17a2b8 !important;
    font-weight: bold;
    font-family: cursive;
    font-size: 1.5em;
}

.dropdown-menu{
  left: -100% !important
}

.card{
  background-color: #644e5a !important;
  background-image: linear-gradient(225deg, #FF3CAC 0%, #784BA0 50%, #2B86C5 100%);
}

.card-text{
  color: #c5c5c5
}